a {
  color: white;
}

h1 {
  background-clip: text;
  background-image: linear-gradient(135deg, #00b0ff 26%, #9500ff 57%, #de00ff 78%);
  color: transparent;
  font-size: 5rem;
  width: 400px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

.blue-circle , .pink-circle {
  border-radius: 50%;
  height: max(300px, 50vh);
  position: absolute;
  width: max(300px, 50vh);
  z-index: -1;
}

.blue-circle {
  background: linear-gradient(135deg, #00fee6 9%, #00d7ff 20%, #008eff 48%);
  left: 13vw;
  top: 10vh;
}

.pink-circle {
  background: linear-gradient(135deg, #430086 0%, #6700c7 15%, #9600fe 31%, #f300ff 48%);
  bottom: 10vh;
  right: 13vw;
}

.general-form , .general-info {
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, #fff3, #ffffff0d);
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
}

.general-form {
  justify-content: center;
  margin: 30px;
  z-index: 2;
}

.general-form input , button , select {
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 4px;
  transition: 0.1s ease-in-out;
}

.general-form button {
  font-weight: 600;
  margin: 15px;
}

.general-form button:enabled {
  background: linear-gradient(135deg, #00d7ff 12%, #00b0ff 26%, #9500ff 57%, #de00ff 78%);
  color: white;
}

.general-form button:hover {
  cursor: pointer;
}

.general-form button:active {
  transform: translateY(5px);
}

.general-input {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 15px;
}

.general-input span {
  font-size: 1rem;
}

.general-info {
  color: white;
  font-size: 1.5rem;
  justify-content: space-evenly;
  padding: 20px;
  text-align: justify;
  text-indent: 1.5rem;
}
