@keyframes changeBorderColor {

  0% , 100% {
    border: 3px solid #00b0e5;
    box-shadow: 0 0 10px 4px #00b0e53a;
  }

  33% {
    border: 3px solid #00f7ff;
    box-shadow: 0 0 10px 4px #00f7ff3a;
  }

  66% {
    border: 3px solid #00ff80;
    box-shadow: 0 0 10px 4px #00ff803a;
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-data {
  color: white;
}

.wallet-page {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.wallet-form {
  height: 600px;
}

.total {
  background-clip: text;
  background-image: linear-gradient(135deg, #006eff 26%, #00ff80, #00ff2a 78%);
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

.editor {
  animation: changeBorderColor 6s linear infinite;
}

.editor button:enabled {
  background: linear-gradient(135deg, #006eff 26%, #02b85d, #01dd26 78%);
}
