header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-data {
  color: white;
}

.wallet-page {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.wallet-form {
  height: 600px;
}

.wallet-form button:enabled {
  background: linear-gradient(135deg, #006eff 26%, #02b85d, #01dd26 78%);
  color: white;
}

.total {
  background-clip: text;
  background-image: linear-gradient(135deg, #006eff 26%, #00ff80, #00ff2a 78%);
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}
