@keyframes changeBorderColor {

  0% , 100% {
    border: 3px solid #00b0e5;
    box-shadow: 0 0 10px 4px #00b0e53a;
  }

  33% {
    border: 3px solid #00f7ff;
    box-shadow: 0 0 10px 4px #00f7ff3a;
  }

  66% {
    border: 3px solid #00ff80;
    box-shadow: 0 0 10px 4px #00ff803a;
  }
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

table {
  display: block;
}

table button {
  height: 25px;
  margin-inline: 7px;
  overflow: hidden;
  padding: 0;
  width: 25px;
}

table button:hover {
  cursor: pointer;
}

table button:active {
  transform: translateY(3px);
}

tr , thead {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

tr:nth-of-type( 2n + 1 ) {
  background-image: linear-gradient(90deg, #22222250 0%, #162931a9, #222222b6 100%);
}

tr:nth-of-type( 2n ) {
  background-image: linear-gradient(90deg, #22222250 0%, #17323db6, #222222b6 100%);
}

thead , hr {
  color: #00e1ff;
  width: 1260px;
}

hr {
  background-image: linear-gradient(135deg, #006eff 26%, #00ff80, #00ff2a 78%);
  border: none;
  height: 3px;
}

td , th {
  display: block;
  margin: 20px;
  text-align: center;
  width: 100px;
}

.dark-circle {
  background: linear-gradient(135deg, #313131 19%, #2b2b2b 50%, #222 80%);
  left: 13vw;
  top: 10vh;
}

.darker-circle {
  background: linear-gradient(315deg, #313131 19%, #2b2b2b 50%, #222 80%);
  bottom: 10vh;
  right: 13vw;
}

.header-data {
  color: white;
}

.wallet-page {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.wallet-form {
  height: 600px;
}

.total {
  font-size: 2rem;
  font-weight: 700;
}

.total span {
  background-clip: text;
  background-image: linear-gradient(135deg, #006eff 26%, #00ff80, #00ff2a 78%);
  color: transparent;
}

.editor {
  animation: changeBorderColor 6s linear infinite;
}

.editor button:nth-of-type( 1 ) {
  background: linear-gradient(135deg, #006eff 26%, #02b85d, #01dd26 78%);
}

.editor button:nth-of-type( 2 ) {
  background: linear-gradient(135deg, #5c0000 0%, red, #5c0000 100%);
}

.editing-tr {
  animation: changeBorderColor 6s linear infinite;
  background-clip: text;
  background-image: linear-gradient(135deg, #00c3ff 26%, #00ff80, #00ff2a 78%) ! important;
  border-radius: 10px;
  color: transparent;
  font-weight: 800;
}

.edit-btn {
  background-color: #00ffc8;
  height: inherit;
  width: inherit;
}

.delete-btn {
  background-color: #ff4d2e;
  height: inherit;
  width: inherit;
}
